

*{
  box-sizing: border-box;
}
h1{
  font-family: "Times New Roman", Times, italics;
  color: white;
  text-shadow: -2px 0 #000000,0 2px #000000,2px 0 #000000,0 -2px #000000;
  font-size: 5vw;
}
body{
  background-image: url('./media/glitchout.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.main{
position: relative;
  width: 100%;

}
.gameboard{
  margin-left: 30vw;
  width: 50vw;
  position: relative;
  background-color: pink;
}
.title{
  text-align: center;
}
.gameboard div{
  height: 7vw;
  width: 7vw;
  background-color: lightblue;
  border: 2px solid black;
  float: left;

}

.gameboard div:nth-child(5n +6){
  clear: both;
}
